<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookClub - All Users</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <nav>
        <a href="/home">Book Club</a>
        <a href="/profile">
            <%=user.username%>
        </a>
        <a href="/mybooks">My Books</a>
        <% if (user.usertype=='admin' ) { %>
            <a class="btn" id="btn-addbook" href="/home/addbook">+ Add Book</a>
            <% } %>
        <% if (user.usertype=='admin' ) { %>
            <a class="btn" id="btn-viewusers" href="/viewusers">View Users</a>
            <% } %>
                <a href="/logout">Log Out</a>
    </nav>
    <main>
        <form action="/search" method="GET">
            <input type="text" name="q" id="search-in" value="<%=searchInp%>"
                placeholder="Search user...">
            <button type="submit" onclick="search()">Search</button>
        </form>
        <% if (searchInp) { %>
            <p>Displaying Search Result: <%=searchInp%>
            </p>
            <% } %>
                <h1>Users</h1>
                <% if (err && allusers.length==0) { %>
                    <p class="error">
                        Users Not Found!!!
                    </p>
                    <% } %>
                        <% let count=1 %>
                            <div class="grid">
                                <% for (const usr of allusers) { %>
                                    <div class="card">
                                        <!-- <% if (err && usr.id==id) { %>
                                            <p class="error">
                                                <%=err%>
                                            </p>
                                            <% } %> -->
                                                <p><strong>Name: </strong> <%=usr.username%></p>
                                                <p><strong>Email: </strong> <%=usr.usermail%></p>
                                                <p><strong>Wallet: </strong> <%=usr.userwallet%> credits</p>
                                                <!-- <p><strong>Books Issued: </strong> <%=usr.bookIssued%></p> -->
                                                <p><strong>User Type: </strong> <%=usr.usertype%></p>
                                                <% if (user.usertype=='admin' ) { %>
                                                    <a class="btn" id="btn-updateuser" href="/home/updateuser/<%=user._id%>">Update User</a>
                                                <% } %>
                                                <% if (user.usertype=='admin' ) { %>
                                                    <a class="btn" id="btn-deleteuser" href="/home/deleteuser/<%=user._id%>">Delete User</a>
                                                <% } %>
                                    </div>
                                    <%count++%>
                                        <% } %>

                            </div>
    </main>

    <script>
        window.addEventListener("pageshow", (event) => {
            if (event.persisted) {
                window.location.reload();
            }
        });
        <!-- function search(){
            let searchinp = document.getElementById('search-in');
            let val = searchinp.value;
            searchinp.value = val;
            let searchword = document.getElementById('search-res-word');
            searchword.textContent=`Displaying Search Result: ${val}`;
            searchword.style.display = 'block';
        } -->
    </script>

</body>

</html>