<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recharge - <%=user.username%>
    </title>
</head>

<body>
    <nav>
        <a href="/home/<%=user.id%>">Book Club</a>
        <a href="/profile/<%=user.id%>"><%=user.username%></a>
        <a href="/mybooks/<%=user.id%>">My Books</a>
        <a href="/logout">Log Out</a>
    </nav>

    <fieldset>
        <form action="/recharge/<%=user.id%>" method="post">
            Amount: <input type="number" name="credit" id="credit" required>
            <button type="submit">Recharge</button>
        </form>
        
    </fieldset>
</body>

</html>